body{
    margin: 0;
    padding: 0;
}

.bg-page{
    background-color: #000;
    width: 100vw;
}

.bg-image{
    background-image: url("../assets/images/bg-netflix.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.menu-titulos {
    color: white;
    text-align: center;
    font-feature-settings: "clig"off, 'liga';
    font-family: "SF Pro Display";
    font-size: 17.197px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.447px;
    letter-spacing: 0.762px;
    margin-top: 10px !important;
}